/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
/*Custom Styles from w3 schools*/

body
{
  font-family: 'PT+Sans+Narrow', tahoma;
  background-color: whitesmoke;
}

/*top header*/

.top-header
{
  background-color: whitesmoke;
  border-bottom: 2px solid darkslategray;
  height:80px;
  width: 780px;
  margin:0 auto;
}

.primary-logo
{
  font-size: 32px;
  color: midnightblue;
  font-weight: 400;
  margin-top: 40px;
  text-shadow: 0 1px 0 white;
  font-family: 'noto sans';
  text-align: center;
}

.subtitle
{
  font-size: 12px;
  color:darkslategray;
  font-weight: 500px;
}

.top-nav
{
  margin:0 auto;
  width: 780px;
  height:36px;
  color:whitesmoke;
  list-style-type:none; 
  text-align: center;
  float: center;
  border-bottom: 1px solid lightslategray;
}

.nav-list
{
font-size: 12px;
padding:10px;
font-family: 'noto sans';
list-style:none;
float: left;
font-weight: 500;
color:darkslategray;
}

#top-nav-list
{
display:inline-block;
}

.header-container
{
  width:780px;
  margin:0 auto;
}

a
{
  text-decoration: none;
  color: inherit;
}

/*body*/

.container
{
  width: 780px;
  margin: 0px auto;
  background-color: whitesmoke;
  margin-bottom: 40px;
  padding-top: 20px;  
}

.container:after
{
  content:"";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.column-text
{
  width: 520px;
  float: left;
}

h2
{
  font-size: 28px;
  color:midnightblue;
  padding:10px 20px;
  font-family: 'noto sans';
  text-shadow: 0 1px 0 white;
}

h3
{
  font-size: 24px;
  color: slategray;
  padding: 20px;
  font-family: 'noto sans';
}

h4
{
  font-size: 18px;
  color:black;
  padding: 10px 20px;
}

h5
{
  font-size: 16px;
  color:gray;
  padding: 10px 20px;
}

.resume-font
{
  font-size: 16px;
  color: gray;
  padding:10px 20px;
  font-family: 'noto sans';
}

.resume-list
{
  list-style: disc;
  font-size: 14px;
  color: gray;
  margin-left: 40px;
  padding:0px 20px;
  font-family: 'noto sans';
}

.profile-pulled
{
  float:right;
  height:260px;
  width: 260px;
}

.profile-photo
{
  border-radius: 70%;
  width: 240px;
  padding: 10px;
}

.standard-paragraph
{
  font-size: 14px;
  color: darkslategray;
  padding: 10px 20px;
  letter-spacing: -.05em;
}

.entry-link
{
  font-weight: bold;
  color: darkgray;
  font-size: 14px;
  padding: 40px 20px;
}

.bottom-nav
{
  border-top: 1px solid darkgray;
  width: 780px;
  margin: 0px auto;
  padding: 10px 0px;
  float: center;
}


.small-nav
{
  font-size: 10px;
  color: lightgray;
  display: inline;
  padding:10px;
}

script
{
float: right;
padding: 20px;;
vertical-align: right;
}

.bottom-footer
{
  width: 780px;
  margin: 0px auto;
  text-align: center;
}

.copyright
{
  font-size: 10px;
  color: lightgray;
  display: inline;
  padding:2px;
}

.social-box
{
  height:210px;
  width:256px;
  margin: 0 auto;
  float: right;
}

.social-1
{
  width:128px;
  height:210px;
  float: left;
}

.social-2
{
  width:128px;
  height:210px;
  float: right;
}

.profile
{
  float:right;
  width:260px;
}

.social-icons
{
  padding: 10px 40px 10px 40px;
}

.social-2-icons
{
  list-style-type: none;
}

/*blog*/

.entry-title
{
  font-size: 28px;
  color:midnightblue;
  font-family: 'noto sans';
  text-shadow: 0 1px 0 white;
  padding-bottom: 0px;
}

.authorship
{
  font-size: 10px;  
  color: gray;
  font-family: 'noto sans';
}

/*experiments*/

.original
{
  width:360px;
  border-right: 30px;
  float:left;
}

.original-image
{
  width: 360px;
  margin-top: 20px;
}

.recreate
{
  margin-top: 20px;
  width: 360px;
  float: right;
  height:270px;
  border: 1px solid gray;
  background-color: #336666;
}

.login-box
{
  width: 320px;
  height: 135px;
  background-color:#003333;
  box-shadow: 0px 20px 100px black;
  margin:0px 20px 0px 20px;
}

.login-title
{
  font-size: 8px;
  color: white;
  padding-top:12px;
  padding-bottom: 2px;
}

.login-field
{
  width: 270px;
  height: 20px;
  background-color: white;
  margin:0px 30px 0px 20px;
  padding-top: 0px;
}

.login-button
{
  margin-left: 20px;
  border-radius: 40%;
  background-color: #339999;
  width: 50px;
  height: 25px;
  margin-top: 15px;
  float: left;
}

.button-text
{
  font-size: 12px;
  color:white;
  padding-top:6px;
  padding-left:10px;
}

.forgot-text
{
  font-size:8px;
  color: #996600;
  float: right;
  margin-top: 15px;
  margin-right:10px;
  letter-spacing: .12em;
}