/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
  
/*Custom Styles from w3 schools*/

body
{
background-color:ghostwhite;
font-family:  'PT Sans Narrow', 'quicksand', sans-serif;
}

header
{
  background-color: MidnightBlue;
  border-bottom: medium;
  border-color: lightslategray;
  border-style: groove;
  height: 80px;
}

/*Navigation*/

#top-nav
{
  font-family:inherit;
  font-size:14px;
  text-align: right;
  color:white;
  float: top left;
  list-style: none;
  padding: 20px 20px;
}

/*Headlines*/

h1
{
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
  color:white;
  padding: 40px 20px;
  float: left;
}

h2
{
  color:MidnightBlue;
  font-size: 18px;
  font-weight: bolder;
  padding:10px 20px;
}

h3
{
  font-size:18px;
  color:gray;
  font-weight: bold;
  padding:10px 20px;
}

h4
{
  font-size:14px;
  padding:4px 20px;
  font-weight: bold;
}

p
{
  font-size: 18px;
  color: gray;
  padding:10px 20px;
  margin-right: 24px;
}

.copyright
{
  font-size: 8px;
  color: gray;
}


/*Lists*/
#non-compact
{
  font-size: 12px;
  padding: 10px 20px;
  list-style: none;
}

ul
{
  font-size: 18x;
  font-family: inherit;
  padding: 10px 20px;
  list-style: disc;
  margin-left: 48px;
  color: gray;
}


/*Footer*/

footer
{
  font-size:8px;
  color:gray;
  text-align: center;
  width: 240px;
  margin: 0 auto;
  text-align: center;
 }

#realbody
{
  max-width: 960px;
  margin: 0 auto;
  background-color: whitesmoke;
}   

a
{
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: none;
}

.avatar-pulled
{
  float:right;
  margin-left: 100px;
  width: 200px;
  border-radius: 50%;
}

.button
{
width: 12px;
}

.Subtitle
{
  font-size: 12px;
  color:navajowhite;
}

/*List Items*/

.bottom-nav-items
{
font-size: 12px;
list-style: none;
}

.description
{
  font-size: 18px;
  font-color: darkgray;
  font-style: inherit;
}

.intro
{
  padding-bottom: 30px;
  border-bottom: solid;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width:2px;
  max-width: 700px;
}

.intro-description
{
  font-size: 18px;
  font-weight: 200;
}

.driven
{
  margin-top: 24px;
  font-size: 36px;
}

.background-overview
{
  padding-bottom: 30px;
  border-bottom: solid;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width:2px;
}

.bottom-nav
{
  display: inline;
  text-align: center;
}

.blog
{
  font-size: 16px;
}

.blog-entry
{
  padding-bottom: 30px;
  border-bottom: solid;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width:2px;
}

.link
{
  color: darkslategray;
  font-weight:700;
}